html, body{
  height: 100%;
}

body{
  background-color: var(--baseColor);
  color: var(--highlightColor);
  overflow: hidden;
}
#page-game{
  height: 100%;
  width: 100%;
  padding: 10px;
}

#page-game div#wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
#page-game div#content-wtrapper{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#page-game div#content {
  flex-grow: 1;
  overflow: hidden;
}

#page-game footer {
  align-content: center;
  align-items: center;
  color: dimgray;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

#page-game p{
  display: inline-block;
}

#page-game .invisible{
  display: none !important;
}

#page-game .invisibleThing{
  opacity: 0; /* Set to  0.25 for debug */
}



#page-game h1, #page-game h2, #page-game h3{
  display: flex;
  justify-content: center;
}

@keyframes thingAnim {
  from {
    width: 64px;
    height: 64px;
  }
  to {
    width: 128px;
    height: 128px;
    margin-top: 32px;
    margin-left: 32px;
  }
}

#page-game #thing.animate{
  animation-name: thingAnim;
  animation-duration: 1s;
  animation-fill-mode: both;
}



#page-game #score{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 0.875em;
  pointer-events: none;
  pointer-events: none;
  color: var(--highlightColor)
}

#page-game hr{
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px none red;
}


#page-game .share-game{
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 24px;
  align-items: center;
}

#page-game .share-game>button{
  height: 24px !important;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  #page-game .inspired {
    display: none;
  }

  #page-game #content-wtrapper{
    flex-direction: column !important;
  }
  #page-game #ads{
    width: 100% !important;
    height:64px !important;
    overflow: hidden;
    min-width: 100%;
    margin-bottom: 4px;
  }
}

#page-game #ads{
  background-color: mediumpurple;
  width: 160px;
  height: 600px;
  min-width: 160px;
}


#page-game a.animated-link{
  text-decoration: none;
  color: var(--highlightColor);
  background:linear-gradient(var(--highlightColor), var(--highlightColor)) no-repeat;
  background-size: 100% 0.15rem;
  background-position: bottom;
  transition: background-size 0.1s ease-in, color 0.1s ease-in;
}

#page-game a.animated-link:hover{
  color: var(--baseColor);
  background-size: 100% 100%;
}

#page-game .game-link{
  display: flex;
  color: var(--highlightColor);
  background-color: var(--baseColor);
  background-size: 100% 0.2rem;
  background-position: bottom;
  width: 80%;
  height: 64px;
  border: solid 4px var(--highlightColor);
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  /*transition: background-color 0.1s ease-in, color 0.1s ease-in;*/
}

#page-game .game-link:hover{
  color: var(--baseColor);
  background-color: var(--highlightColor);
  background-size: 100% 100%;
}