@keyframes errorDiv {
  0%   { background-color: var(--highlightColor); }
  20%  { background-color: var(--highlightColor); }
  30%  { background-color: var(--baseColor); }
  70%  { background-color: var(--baseColor); }
  80%  { background-color: var(--highlightColor); }
  100% { background-color: var(--highlightColor); }
}

#error-div.centered{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  animation-name: errorDiv;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
}

#error-div .box{
  background-color: var(--baseColor);
  padding:64px;
  border-radius: 32px;
  border: solid 4px var(--highlightColor);
  box-shadow: 0 0 8px var(--highlightColor);
}


#error-div .game-link{
  display: flex;
  color: var(--highlightColor);
  background-color: var(--baseColor);
  background-size: 100% 0.2rem;
  background-position: bottom;
  width: 256px;
  height: 64px;
  border: solid 4px var(--highlightColor);
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 25px;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  /*transition: background-color 0.1s ease-in, color 0.1s ease-in;*/
}

#error-div .game-link:hover{
  color: var(--baseColor);
  background-color: var(--highlightColor);
  background-size: 100% 100%;
}

#error-div h1, #error-div h2{
  text-align: center;
  margin-bottom: 32px;
}